.card-container {
  width: 300px;
  color: white;
  display: flex;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  flex-Direction: column;
  border: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(150, 89, 39, 0.507);
  box-shadow: 0px 2px 4px rgba(31, 31, 31, 0.2);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-title {
  margin-bottom: 10px;
  text-shadow: 2px 2px black;
}

.card-img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
  object-fit: contain;
}

.card-details {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}